h1 {
    margin: 10px;
    padding: 5px;
    padding: 10px 25px;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    text-indent: 10px;
}

.my-button {
    padding: 10px 25px;
    
}